:root {
  --ion-color-primary: #1b5e20;
  --ion-color-primary-rgb: 27, 94, 32;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #17531c;
  --ion-color-primary-tint: #326e36;

  --ion-color-secondary: #388e3c;
  --ion-color-secondary-rgb: 56, 142, 60;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #317d35;
  --ion-color-secondary-tint: #4c9950;

  --ion-color-tertiary: #fdd835;
  --ion-color-tertiary-rgb: 253, 216, 53;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #dfbe2f;
  --ion-color-tertiary-tint: #fddc49;

  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-medium: #92949c;
  --ion-color-light: #f4f5f8;
}
